@import "common";
@import "header";

.main-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(72, 72, 72, 0.43);

  &__container {
    margin: 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
  }

  @media (max-width: $size-xs) {
    &__container {
      height: auto;
      margin: 32px 0;
      flex-direction: column;
    }
  }

  &__logo {
    width: 85px;
    height: 27px;
  }

  &__company-name {
    font-size: 12px;
    line-height: 150%;
  }

  &__social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 112px;
  }

  &__social-button {
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: url("../img/social-buttons-sprite.svg") center 0 no-repeat;
  }

  &__facebook {
    background-position: 0 0;
  }

  &__twitter {
    background-position: -44px 0;
  }

  &__instagram {
    background-position: -88px 0;
  }
}

.gray-picture {
  filter: grayscale(100%);
}


